<!-- cspell:disable -->

<div class="row">
    <div class="col-md-8">
        <div class="container-cards">
            <app-com-memory-card *ngFor="let character of this.characterService.dataCharacter" [character]="character">
            </app-com-memory-card>
        </div>
    </div>
    <div class="col-md-4">


        <div class="col-md-2">
            <h5>PUNTAJE: {{this.servicePuntaje.getScore}}</h5>
        </div>
        <div class="col-md-2">
            <h5>TIEMPO: {{tiempo}}</h5>
        </div>
        <div class="col-md-2">
            <h5>INTENTOS: {{this.servicePuntaje.getcontadorIntentos}}</h5>
        </div>



    </div>
</div>